@{
    ViewData["Title"] = "detailRecordBaoCao";
}

<aside class="main-sidebar sidebar-dark-gray ">



    <a href="/DaiDoi/linkviewQSDonVi" class="brand-link">
        <img src="../../frontend/dist/img/logo.jpg" style="opacity: 1;block-size:47px "> <br />
        <span class="brand-text font-weight-light" style="color:#019A83">HỆ THỐNG QUẢN LÝ QUÂN SỐ</span>
    </a>




    <div class="sidebar">
        <!-- Sidebar user (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex" style="border:groove ; border-color:green; border-radius:10px; border-width:5px">
            <div class="image">
                <img src="../../frontend/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <span class="brand-text font-weight-light" style="color:#019A83 "> Phiên đăng nhập của </span>
                <div style="color:green">
                    <a style="font-size: 20px">@ViewData["name"]</a>    <!-- thay thế bằng tên người đăng nhập  -->
                    <br />
                    <a class="text-danger" href="/Home/Login ">ĐĂNG XUẤT </a>

                </div>
            </div>
        </div>
    </div>
    <!-- SidebarSearch Form -->
    <!-- Sidebar Menu -->


    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">


            <li class="nav-item" style="border:inset; border-color:	#A9A9A9">

                <a class="nav-link ">
                    <ion-icon name="list-outline"></ion-icon>

                    <p>
                        DANH SÁCH QUÂN NHÂN TIỂU ĐOÀN
                    </p>
                </a>

            </li>

            <li class="nav-item" style="border:inset; border-color:	#A9A9A9">

                <a class="nav-link ">
                    <ion-icon name="person-add-outline"></ion-icon>
                    <p>

                        THÊM
                    </p>
                </a>

            </li>


            <li class="nav-item" style="border:inset; border-color:	#A9A9A9">


                <a class="nav-link">
                    <ion-icon name="analytics-outline"></ion-icon>
                    <p>
                        THỐNG KÊ
                    </p>
                </a>

            </li>

            <li class="nav-item" style="border:inset; border-color:	#A9A9A9">


                <a class="nav-link">
                    <i class="fa-light fa-check-double" style="color: #8192b1;"></i>
                    <p>
                        XÁC NHẬN VẮNG
                    </p>
                </a>


            </li>
            <!-- /.sidebar-menu -->



        </ul>
    </nav>

</aside>

@{
    var hoten = ViewData["tenquannhan"] as string;

    var capbac = ViewData["capbacquannhan"] as string;

    var chucvu = ViewData["tenchucvu"] as string;

    var donvi = ViewData["tendonvi"] as string;

    var nguoibao = ViewData["tennguoiduyet"] as string;

    var lydo = ViewData["lydo"] as List<LyDo>;

    var ngayvang = ViewData["ngayvang"];

    var bc = ViewData["maBC"] as BaoCaoQsNgay;
}




<div class="content-wrapper">
    <!-- general form elements -->
    <div class="card card-primary">

        <!-- /.card -->
        <!-- general form elements -->
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Thông tin quân nhân</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="form-group">
                    <label for="exampleInputBorder">Họ tên: <span style="color:crimson">@hoten</span></label>
                </div>


                <div class="form-group">
                    <label for="exampleSelectBorder"> Cấp bậc: <span style="color:crimson">@capbac</code></label>
                </div>
                <div class="form-group">
                    <label for="exampleSelectBorderWidth2">Chức vụ: <span style="color:crimson">@chucvu</span></label>

                </div>
                <div class="form-group">
                    <label for="exampleSelectRounded0">Đơn vị: <span style="color:crimson">@donvi</span></label>

                </div>

                <div class="form-group">
                    <label for="exampleSelectRounded0">Người báo vắng: <span style="color:crimson">@nguoibao</span></label>

                </div>

                <div>
                    <label for="exampleSelectRounded0">Ngày vắng: <span style="color:lightgreen">@ngayvang</span></label>


                </div>

            </div>

            <div style="position: absolute; margin-left:400px; margin-top:65px">
                <form method="post" action="/DaiDoi/ThemchitietBaoCao/@bc.MaBc">
                <label>
                    Lý do
                    <span>
                        <select class="form-control" name="select_lydo" id="select_lydo">

                                @if (bc.LyDo == null)
                                {
                                    <option value=@null>---Nhập lý do--- </option>    
                                }
                                @foreach (var item in lydo)
                            {
                                if (bc.LyDo == item.MaLd)
                                {

                                    <option value=@item.MaLd>@item.LoaiLd</option>
                                    lydo.Remove(item);
                                    break;
                                }


                            }

                            @foreach (var item1 in lydo)
                            {
                                <option value=@item1.MaLd>@item1.LoaiLd</option>

                            }

                        </select>
                    </span>
                </label><br />

                <label>Chi tiết</label>
                    <textarea name="textarea_chitiet" id="textarea_chitiet" value="@bc.ChiTiet" type="text" style="width:450px;border:revert" class="form-control form-control-border" rows="4"> @bc.ChiTiet </textarea>

                <button class=" btn btn-primary" type="submit">Thêm chi tiết </button>
                <a class=" btn btn-danger" href="@Url.Action("linkviewBaoCao")">Trở lại</a>

                </form>

            </div>


        </div>
    </div>
</div>

