@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    // trang nay cho viewBaoCao

}
@{
    DateTime currentDate = DateTime.Now;
}

@{
    var ttchucvu = ViewData["TT_ChucVU"] as List<QuannhanChucvu>;

    var ttdonvi = ViewData["TT_DonVi"] as List<QuannhanDonvi>;

    var ttquannhan = ViewData["TT_QuanNhan"] as List<QuanNhan>;

    var lydo = ViewData["TT_Lydo"] as List<LyDo>;

    int y = 1 + (Model.CurrentPage - 1) * 10;
}
@model PagedViewModel<WebForQLQS.Models.BaoCaoQsNgay>;
<div class="content-wrapper" style="min-height: 1302.32px;">

    <section class="content">

        <div class="card-header">
            <h3 class="card-title">
                <div style="color:green ">
                    Ngày hiện tại là: @currentDate.ToShortDateString() 
                </div>
            </h3>

            <div class="card-tools">

                <div class="input-group input-group-sm" style="width: 400px;">
                    <div style="width: 100px">

                        <a class="btn btn-block btn-primary" href="/TieuDoan/confirm_btn_click">XÁC NHẬN </a>

                    </div>

                    <form method="post" action="table_searchButtonClickinXATNHANVANG">

                        <div class="input-group-append">
                            <input type="text" style="width:250px" name="table_search" class="form-control float-right" placeholder="Nhập tên quân nhân hoặc đơn vị">


                            <button type="submit" class="btn btn-default">
                                <i class="fas fa-search"></i>
                            </button>

                        </div>

                    </form>

                </div>
            </div>
        </div>

        <!-- /.card-header -->



        <div class="card-body p-0">

            <h4 class="text-danger"> @ViewData["mess"] </h4>
            <table class="table table-striped">
                <thead>
                    <tr>


                        <th style="width: 10px">STT</th>
                        <th> HỌ TÊN </th>
                        <th> CHỨC VỤ </th>
                        <th> ĐƠN VỊ </th>
                        <th style="width: 150px"> LÝ DO </th>
                        <th> </th>
                        <th>Trang: @Model.CurrentPage/@(Model.TotalItems / Model.PageSize + 1)</th>

                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model.Items)
                    {
                        <tr>
                            <td>@y</td>
                            @foreach (var qn in ttquannhan)
                            {

                                if (qn.MaQuanNhan == item.MaQuanNhan)
                                {
                                    <td>@qn.HoTen</td>
                                }

                            }



                            @foreach (var item2 in ttchucvu)
                            {
                                if (item.MaQuanNhan == item2.MaQuanNhan)
                                {
                                    <td>@item2.MaChucVu</td>

                                }


                            }


                            @foreach (var item2 in ttdonvi)
                            {
                                if (item.MaQuanNhan == item2.MaQuanNhan)
                                {
                                    <td>@item2.MaDonVi</td>

                                }


                            }

                            @if (item.LyDo == null)
                            {
                                <td class="text-danger">chưa thêm lý do</td>
                            }
                            else

                            {    
                                foreach(var x in lydo)
                                {
                                    if (item.LyDo == x.MaLd)
                                    {
                                        <td>@x.LoaiLd</td>
                                        break;
                                    }
                                }

                                
                            }



                            <td>
                                <a class=" btn btn-primary" href="@Url.Action("detailRecordBaoCao", new { id = item.MaBc })">
                                    @if (item.LyDo == null)
                                    {
                                        <span>thêm chi tiết</span>
                                    }
                                    else
                                    {
                                        <span>chi tiết</span>
                                    }
                                </a>
                            </td>
                            <td><a class=" btn btn-danger" href="@Url.Action("DeleteRecordBaoCao", new { id = item.MaBc })">Xóa</a></td>

                        </tr>
                        y++;
                    }



                </tbody>
            </table>


            <div class="pagination">
                @for (int i = 1; i <= (Model.TotalItems / Model.PageSize) + 1; i++)
                {


                    <a class="btn-navbar  nav-link " href="@Url.Action("linkviewBaoCaod", new { page = i })">@i</a>
                }
            </div>


        </div>
        <!-- /.card-body -->


    </section>
</div>