@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var chucvu = ViewData["TTChucVu"] as List<ChucVu>;
    var qncv = ViewData["TT_QNCV"] as string;

    var donvi = ViewData["TTDonVi"] as List<DonVi>;
    var qndv = ViewData["TT_QNDV"] as string;

    var loaiqn = ViewData["TT_LQN"] as List<LoaiQuanNhan>;
    var qnl = ViewData["QN_L"] as string;

    var capbac = ViewData["TT_Capbac"] as string;

    var hoten = ViewData["TT_tenQN"] as string;

    var maQN = ViewData["TT_maQN"] as string;
}






@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "ViewTieuDoan";
}
@{
    //model IEnumerable<WebForQLQS.Controllers.DaiDoiController>
}
<aside class="main-sidebar sidebar-dark-primary ">



    <a href="/TieuDoan/linkviewQSDonVid" class="brand-link">
        <img src="../../dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8"> <br />
        <span class="brand-text font-weight-light">HỆ THỐNG QUẢN LÝ QUÂN SỐ</span>
    </a>




    <div class="sidebar">
        <!-- Sidebar user (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">

            <div class="info">
                <span class="brand-text font-weight-light" style="color:green "> Phiên đăng nhập của </span>
                <div style="color:green">
                    <span style="font-size: 25px">@ViewData["name"]</span>    <!-- thay thế bằng tên người đăng nhập  -->

                    <a class="btn  btn-danger" href="/Home/Login " style="width: 100px">ĐĂNG XUẤT </a>

                </div>
            </div>
        </div>
    </div>
    <!-- SidebarSearch Form -->
    <!-- Sidebar Menu -->


    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">


        <li class="nav-item">
            <button>
                <a  class="btn btn-block btn-dark">

                    DANH SÁCH QUÂN NHÂN TIỂU ĐOÀN

                </a>
            </button>
        </li>

        <li class="nav-item">
            <button style=" width: 250px ">
                <a  class="btn btn-block btn-dark ">


                    THÊM
                    </p>
                </a>
            </button>
        </li>


        <li class="nav-item">

            <button style=" width: 250px ">
                <a  class="btn btn-block btn-dark">

                    <p>
                        THỐNG KÊ
                    </p>
                </a>
            </button>
        </li>

        <li class="nav-item">

            <button style=" width: 250px ">
                <a class="btn btn-block btn-dark">

                    <p>
                        XÁC NHẬN VẮNG
                    </p>
                </a>
            </button>

        </li>
        <!-- /.sidebar-menu -->



    </ul>

</aside>


<div class="content-wrapper"  style="min-height: 1000px;">

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-6">
                    <!-- general form elements -->
                    <div class="card card-primary">

                        <!-- /.card -->
                        <!-- general form elements -->
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">Thông tin quân nhân @maQN</h3>
                            </div>
                            <!-- /.card-header -->

                            <form method="post" action="/TieuDoan/changeQNd_buton_click/@maQN">
                                <div class="card-body">
                                    <h4>Đơn vị</h4>
                                    <div class="form-group">
                                        <label for="exampleInputBorder">Họ tên quân nhân <code></code></label>
                                        <input type="text" class="form-control form-control-border" id="input_tenQN" name="input_tenQN" value="@hoten">
                                    </div>

                                    <h4>Thông tin chi tiết</h4>
                                    <div class="form-group">
                                        <label for="exampleSelectBorder">Cấp bậc <code></code></label>
                                        <input type="text" class="form-control form-control-border" id="input_capbac" name="input_capbac" value="@capbac">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleSelectBorderWidth2">Chức vụ <code></code></label>
                                        <select class="form-control" id="select_chucvu" name="select_chucvu">
                                            @foreach (var item in chucvu)
                                            {
                                                if (qncv == item.MaChucVu)
                                                {

                                                    <option value=@item.MaChucVu>@item.TenChucVu</option>
                                                    chucvu.Remove(item);
                                                    break;
                                                }


                                            }

                                            @foreach (var item1 in chucvu)
                                            {
                                                <option value=@item1.MaChucVu>@item1.TenChucVu</option>

                                            }
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleSelectRounded0">Đơn vị <code></code></label>
                                        <select class="form-control" id="select_donvi" name="select_donvi">
                                            @foreach (var item in donvi)
                                            {
                                                if (qndv == item.MaDonVi)
                                                {

                                                    <option value=@item.MaDonVi>@item.TenDonVi</option>
                                                    donvi.Remove(item);
                                                    break;
                                                }


                                            }

                                            @foreach (var item1 in donvi)
                                            {
                                                <option value=@item1.MaDonVi>@item1.TenDonVi</option>

                                            }
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleSelectRounded0">Loại quân nhân <code></code></label>
                                        <select class="form-control" id="select_loaiQN" name="select_loaiQN">
                                            @foreach (var item in loaiqn)
                                            {
                                                if (qnl == item.MaLoai)
                                                {

                                                    <option value=@item.MaLoai>@item.TenLoai</option>
                                                    loaiqn.Remove(item);
                                                    break;
                                                }


                                            }

                                            @foreach (var item1 in loaiqn)
                                            {
                                                <option value=@item1.MaLoai>@item1.TenLoai</option>

                                            }
                                        </select>
                                    </div>
                                    <div class="card-footer">
                                        <button class="btn btn-primary" type="submit">Thay đổi </button>
                                        <a class="btn btn-primary" href="/TieuDoan/viewTieuDoan">Trở về</a>
                                    </div>
                                </div>

                            </form>




                        </div>
                    </div>
                </div>
            </div>
    </section>

</div>





