@{
    ViewData["Title"] = "detailforanalyst";
}

<aside class="main-sidebar sidebar-dark-primary ">



    <a href="/TieuDoan/linkviewQSDonVid" class="brand-link">
        <img src="../../frontend/dist/img/logo.jpg" style="opacity: 1;block-size:47px "> <br />
        <span class="brand-text font-weight-light">HỆ THỐNG QUẢN LÝ QUÂN SỐ</span>
    </a>




    <div class="sidebar">
        <!-- Sidebar user (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">

            <div class="info">
                <span class="brand-text font-weight-light" style="color:green "> Phiên đăng nhập của </span>
                <div style="color:green">
                    <span style="font-size: 25px">@ViewData["name"]</span>    <!-- thay thế bằng tên người đăng nhập  -->

                    <a class="btn  btn-danger" href="/Home/Login " style="width: 100px">ĐĂNG XUẤT </a>
                </div>
            </div>
        </div>
    </div>
    <!-- SidebarSearch Form -->
    <!-- Sidebar Menu -->


    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">


        <li class="nav-item">
            <button>
                <a class="btn btn-block btn-dark">

                    DANH SÁCH QUÂN NHÂN TIỂU ĐOÀN

                </a>
            </button>
        </li>

        <li class="nav-item">
            <button style=" width: 250px ">
                <a class="btn btn-block btn-dark ">


                    THÊM
                    </p>
                </a>
            </button>
        </li>


        <li class="nav-item">

            <button style=" width: 250px ">
                <a class="btn btn-block btn-dark">

                    <p>
                        THỐNG KÊ
                    </p>
                </a>
            </button>
        </li>

        <li class="nav-item">

            <button style=" width: 250px ">
                <a class="btn btn-block btn-dark">

                    <p>
                        XÁC NHẬN VẮNG
                    </p>
                </a>
            </button>

        </li>
        <!-- /.sidebar-menu -->



    </ul>

</aside>



@{
    var date = ViewData["currencedate"] ;
    var listlydo = ViewData["lydo"] as List<LyDo>;
}
@model PagedViewModel<WebForQLQS.Models.LsQsVang>;
<div class="content-wrapper">
    <!-- general form elements -->
    <div class="card card-primary">

        <!-- /.card -->
        <!-- general form elements -->
        <div class="card card-primary">
            <div class="card-header">
                <span> Thông tin quân số vắng ngày: @date </span>

                <form method="post" action="table_searchButtonClickindetailforanalyst">

                    <div class="input-group-append">
                        <input type="text" style="width:205px" name="table_search" class="form-control float-right" placeholder="Nhập tên, đơn vị hoặc lý do">


                        <button type="submit" class="btn btn-default">
                            <i class="fas fa-search"></i>
                        </button>
                        <a class="btn-group btn btn-danger" href="/TieuDoan/linkviewForAnalystd"> Trở lại </a>

                    </div>

                </form>

            </div>
            <!-- /.card-header -->
            <div class="card-body" style="min-height: 500px;">

                <table class="table table-striped">

                    <h4 class="text-danger"> @ViewData["mess"] </h4>
                    <thead>
                        <tr>


                            <th> HỌ TÊN  </th>
                            <th> CẤP BẬC  </th>
                            <th> CHỨC VỤ  </th>

                            <th> ĐƠN VỊ  </th>
                            <th> LÝ DO  </th>

                        </tr>
                    </thead>

                    <tbody>

                        @foreach (var item in Model.Items)
                        {
                            <tr>



                                <td>@item.HoTen</td>
                                <td>@item.CapBac</td>
                                <td>@item.ChucVu</td>
                                <td>@item.TenDonVi</td>

                                @foreach (var x in listlydo)
                                {


                                    if (item.LyDo == x.MaLd)
                                    {
                                        <td>@x.LoaiLd</td>
                                    }

                                }


                            </tr>


                        }


                    </tbody>



                </table>
                <div class="pagination">
                    @for (int i = 1; i <= (Model.TotalItems / Model.PageSize) + 1; i++)
                    {


                        <a class="btn-navbar  nav-link " href="@Url.Action("detailforanalyst", new { date = date,  page = i })">@i</a>
                    }
                </div>
            </div>




        </div>
    </div>
</div>
