@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    // trang nay de cho viewQSDonVi
}



@model PagedViewModel<WebForQLQS.Models.QuanNhan>;
<div class="content-wrapper" style="min-height: 30000px;">

    <section class="content">

        <div class="card-header">
            <h3 class="card-title">HỌC VIỆN KỸ THUẬT QUÂN SỰ - TIỂU ĐOÀN 1 </h3>

            <div class="card-tools" style="width: 250px">
                <div class="input-group input-group-sm" style="width: 300px;">

                    <form method="post" action="table_searchButtonClick">

                        <div class="input-group-append" >
                            <input type="text" name="table_search" id="table_search" class="form-control float-right" placeholder="Nhập tên quân nhân">




                            <button class="btn btn-default" type="submit">
                                <i class="fas fa-search"></i>
                            </button>



                        </div>

                    </form>
                </div>
            </div>
        </div>

        <!-- /.card-header -->



        <div class="card-body p-0">
            <table class="table table-striped">
                <thead>
                    <tr>


                        <th style="width: 10px">STT</th>
                        <th style="width: 150px"> HỌ TÊN </th>
                        <th class="sorting sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending"> CHỨC VỤ </th>
                        <th class="sorting sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending"> ĐƠN VỊ </th>

                        <th style="width: 150px"></th>
                        <th style="width: 40px"></th>
                        <th style="width: 40px"></th>

                    </tr>
                </thead>
                <tbody>


                    @foreach (var quannhan in Model.Items)
                    {
                        <tr>
                            <td>@quannhan.MaQuanNhan</td>
                            <td>@quannhan.HoTen</td>
                            <td>@quannhan.ChucVu</td>
                            <td>@quannhan.DonVi</td>
                            <td><button type="button" class="btn btn-block btn-primary" asp-action="baovang">Báo vắng</button></td>
                            <td><button type="button" class="btn btn-block btn-primary" asp-action="modify">sửa</button></td>
                            <td><button type="button" class="btn btn-block btn-primary" asp-action="delete" style=" background-color:red">xóa</button></td>
                        </tr>
                    }



                </tbody>
            </table>

            <div class="pagination">
                @for (int i = 1; i <= (Model.TotalItems / Model.PageSize) + 1; i++)
                {


                    <a class="btn" href="@Url.Action("viewTieuDoan", new { page = i })">@i</a>
                }
            </div>



        </div>
        <!-- /.card-body -->


    </section>
</div>

